@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
}
.title {
    font-family: roboto;
    font-size: 56px;
    text-align: center;
    margin: 40px auto;
    color: #75B79E;
}
@media (max-width: 540px) {
    .title {
        font-size: 36px;
    }
}
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 20px;
}
.card {
    height: 146px;
    width: 117px;
    position: relative;
    margin: 17px;
}
.face {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}
.face img {
    height: 100px;
    width: 100px;
}
.front {
    transform: rotateY(180deg);
}
.selected .front {
    transform: rotateY(0deg);
}
.selected .cover {
    transform: rotateY(-180deg);
}